@import "../shared/sharedstyles.scss";
.navbar{
  height:75vh;
  @media(max-width:995px){
    height:auto;
  }
}

.user-nav-btn{
  height:50px;
  border-bottom:1px solid #000;
  cursor:pointer;
  padding:10px;
  color: white;
  transition: padding-left, .15s;
  &:hover{
    padding-left:15px;
    opacity: .8;
  }
  display: flex;
  justify-content: space-between;
}
.plus{
  height:100%;
}
.viewing{
  background-color:$lighterblue;
  color:#fff;
}

.conversations{
  margin-bottom:65px;
  @media(max-width:995px){
    margin-bottom:10px;
  }
}
.general-conversations{
  max-height: 40vh;
  overflow-y: scroll;
  margin-bottom:0px;
}



