@import "../shared/sharedstyles.scss";
.navbar{
  height:75vh;
  @media(max-width:995px){
    height:auto;
  }
}
.user-nav-btn{
  display:flex;
  color: #fff;
  font-size:1.2em;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height:50px;
  border-bottom:1px solid #363636;
  cursor:pointer;
  padding:0px 5px;
  transition: padding-left, .15s;
  &:hover{
    padding-left:10px;
  }
}
.conversations{
  margin-bottom:65px;
  @media(max-width:995px){
    margin-bottom:10px;
  }
}
