@import "./shared/sharedstyles.scss";

.header{
  height: 10vh;
  border-bottom: 1px solid #262626;
  background-color: #efefef;
  .container{
    height:inherit;
    .flex-header{
      height:inherit;
      display: flex;
      justify-content: space-between;
    }
  }
}
.avatar{
  //display: inline-block;
  height: 100%;
}
.avatar-holder{
  border-radius: 45px;
  margin:20px;
  overflow:hidden;
}
.title{
  font-size: 3em;
}
.menu{
  display:flex;
}

@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}
