<div class="header">
  <div class="container">
    <div class="flex-header">
      <div class="vertical-align">
        <div class="title">ChatDB</div>
      </div>
      <div class="menu">
        <div class="sign_in vertical-align vertical-align--fill-height">
          <div *ngIf="!auth.loggedIn" (click)="logIn()" class="button button--grey">Sign In</div>
          <div *ngIf="auth.loggedIn" (click)="logOut()" class="button button--grey">Sign Out</div>
        </div>
        <div *ngIf="auth.userProfile$ | async as user" class="avatar-holder">
          <a routerLink="profile">
            <img class="avatar img-responsive" [src]="user.picture" alt=""><img>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
