@import "./shared/sharedstyles.scss";

.header{
  height: 10vh;
  border-bottom: 1px solid #000;
  .container{
    height:inherit;
    .flex-header{
      height:inherit;
      display: flex;
      justify-content: space-between;
    }
  }
}
.title{
  font-size: 3em;
}


@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}
