<div class="header">
  <div class="container">
    <div class="flex-header">
      <div class="vertical-align">
        <div class="title">ChatDB</div>
      </div>
      <div class="vertical-align">
        <div *ngIf="!auth.loggedIn" (click)="logIn()" class="button button--grey">Sign In</div>
        <div *ngIf="auth.loggedIn" (click)="logOut()" class="button button--grey">Sign Out</div>
        <a routerLink="profile" *ngIf="auth.loggedIn">Profile</a>
        <div (click)="isAuth()">Auth</div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
