@import "../shared/sharedstyles.scss";
.other-panel{
  color:white;
  background-color: $lightergreen;
  position: relative;
}
.msg-header{
  display:flex;
  justify-content: space-between;
}
.user-panel{
  color:white;
  background-color: $lighterblue;
  position: relative;
}
.options{
  position:absolute;
  right:15px;
  top:5px;
  .delete{
    &:hover{
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
